.header {
  font-family: "Raleway", Helvetica, Arial, sans-serif
}

a {
  color: #3b8bba;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
a:visited {
  color: #265778;
}

.small-print {
  font-size: 0.8em;
  margin: 0.6em;
}

.post-meta {
  font-size: 90%;
}

article > footer {
  text-align: right;
}

.prev-next-post {
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.prev-next-post .prev {
  float: left;
  text-align: left;
  overflow: hidden;
}

.prev-next-post .next {
  float: right;
  text-align: right;
  overflow: hidden;
}

#menu .brand {
  font-family: Raleway;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: none;
  background: transparent;
  text-decoration: none;
  margin: 0.5em 0;
}

#menu .pure-menu {
  font-size: 0.9em;
}

i {
  display: inline-block;
  margin-right: 0.2em;
}

.pagination {
  text-align: center;
  margin-top: 3em;
}

.pagination a {
  color: #265778;
}

.fitwidth img {
  width: 100%;
}

blockquote {
  background-color: #eee;
  padding-left:0.5em;
  padding-right: 0.5em;
  margin: 0.5em;
}


.page-background {
    background-image: url("/img/cubes.png");
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.margin{
  margin: 0px;
}

.content {
  background-color: white;
}

span.qed{
  color: #777;
  float: right;
  font-size: 20px;
}

p{
  text-align: justify;
  text-indent: 1em;
}

figure {
    display: block;
    margin: 0 auto;
    text-align: center;
}

figure img {
    vertical-align: top;
    text-align: center;
    max-width: 100%;
}

figure figcaption p{
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

blockquote p{
  text-indent: 0em;
}

blockquote div{
  text-align: center;
}
